<h1>Photo-Stream</h1>


      <!-- <p>Title</p>
      <p>Image</p>
      <p>User</p>
      <p>Uploaded on</p> -->
      
   

  
    <% @photos.each do |photo| %>
      
      <div id="photo-block">
          
          <a href="/users/<%= photo.user.id %>/photos/<%= photo.id %>"><div id="photo"><%=image_tag photo.image, width: '300' %></div><a/>
          <div class="photo-right">
            <h2><%= photo.title %></h2>
            
            <div id="right-lower">

              <div id="details">
                  <p>Posted by<br>
                  <h3><%= link_to user_path(photo.user) do %></h3>
                  <%= photo.user.name %>
                  <% end %><br><br>
                  on <br> <strong><%= photo.created_at %></strong></p>
              </div>
              <%= image_tag photo.user.picture, width: '150' %>
            </div>
            <!-- <a href="/users/<%= photo.user.id %>" ><%= photo.user.name %><br><%= image_tag photo.user.picture, width: '150' %><a/> -->
            
          </div>
          <%= link_to 'Show', user_photo_path(@user, photo), :class => "options" if @user %>
          <%= link_to 'Edit', edit_user_photo_path(@user, photo), :class => "options" if @this_is_me %>
          <%= link_to 'Destroy', user_photo_path(@user, photo), method: :delete, data: { confirm: 'Are you sure?' }, :class => "options" if @this_is_me %>
        
      </div>

    <% end %>
  


<br>

<%= link_to 'New Photo', new_user_photo_path(@user), :id => "new-photo" if user_signed_in? && current_user.id == @user.id %>
