<p id="notice"><%= notice %></p>

<div id="photo-show">

      <h2><%= @photo.title %></h2><p>posted by <%= link_to "#{@photo.user.name}", user_path(@user) %></p>

      <%= image_tag @photo.image, width: '500' %>

    <!--<%= button_to "Like", photo_likes_path(@photo, kind: :like) %>-->

    <div class="tally">
      <p><strong>Likes:<%= @photo.likes.where(:kind => :like).count %> &nbsp&nbsp Dislikes:<%= @photo.likes.where(:kind => :dislike).count %></strong></p>
    </div>

    <% if @like.present? %>
      <% if @like.kind == "like" %>
        <% button_label = "Undo like" %>
      <% else %>
        <% button_label = "Undo dislike" %>
      <% end %> 
        
        <%= button_to button_label, [@photo, @like], :method => :delete, :id => "likes", :class => "like" %>
    <% else %>
          <%= form_for([@photo, @photo.likes.new]) do |f| %>

              <%= f.hidden_field :kind, :value => :like %>
              <%= f.submit "Like", :id => "likes", :class => "like" %>

          <% end %> 
          <%= form_for([@photo, @photo.likes.new]) do |f| %>

                <%= f.hidden_field :kind, :value => :dislike %>
                <%= f.submit "Dislike", :id => "likes", :class => "dislike" %>

          <% end %>

    <% end %>

     

    
  <br><br><br>
     <h2>Your outfit has a <span class="<%=@photo.rating%>"><%= @photo.score %>% <%= @photo.rating %></span> rating!</h2>


    <%= link_to 'Edit', edit_user_photo_path(@user, @photo),:class => "photo-option" if user_signed_in? && current_user.id == @user.id %> 
    <%= link_to 'Photos', user_photos_path(@user),:class => "photo-option" %>

</div>

<div id="Comments">

<h2>Comments:</h2>

    
        <% @photo.comments.each do |comment| %>
      <div class="comment">
          <%= image_tag comment.user.picture, width: '100' %><p><%= "#{comment.body}" %></p>
          <p><strong><%= comment.user.name %></strong> posted on <%= comment.created_at %></p>
          <%= link_to 'Edit', edit_user_photo_comment_path(@user, @photo, comment), :class => "comment-button edit" if user_signed_in? && current_user.id == comment.user.id %>
          <%= link_to 'Destroy', [@user, @photo, comment], method: :delete, :class => "comment-button destroy" if user_signed_in? && current_user.id == comment.user.id %>
      </div>
        <% end %>
    

<%= link_to 'Add a comment', new_user_photo_comment_path(@user, @photo), :class => "add-comment" if user_signed_in? %>

</div>
